@import '/src/variables.scss';


.input-nickname {
    margin-top: 5rem;
    padding: .5rem .75rem;
    padding: .75rem 1rem;
    font-size: 1rem;
    color: white;

    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: .5rem;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    &:focus {
        background: rgba( 255, 255, 255, 0.5 );
    }
    &::placeholder {
        color: rgba(255, 255, 255, 0.4);
    }
}