@import '/src/variables.scss';

.btn {
    cursor: pointer;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: .25rem;
    background-color: $secondary;
    &.btn-primary {
        color: white;
        background-color: $primary;
        transition: background-color ease .5s;
        &:hover {            
            background-color: lighten($primary, 5%);
        }
    }
    &.btn-point {
        color: white;
        background-color: $point;
        transition: background-color ease .5s;
        &:hover {            
            background-color: lighten($point, 5%);
        }
    }
}