@import '/src/variables.scss';

.btn {
    cursor: pointer;
    padding: .5rem 1rem;
    font-size: .9rem;
    border: none;
    border-radius: .25rem;
    background-color: $light;
    transition: background-color ease .5s;
    font-family: 'Noto Sans KR', sans-serif;
    &.btn-primary {
        color: white;
        background-color: $primary;
        &:not(:disabled):not(.disabled):hover {            
            background-color: lighten($primary, 5%);
        }
    }
    &.btn-point {
        color: white;
        background-color: $point;
        &:not(:disabled):not(.disabled):hover {            
            background-color: lighten($point, 5%);
        }
    }
    &.btn-outline {
        color: $secondary;
        padding: 0rem .1rem;
        background-color: transparent;
        border: 2px solid $secondary;
        transition: border-color ease .5s,
                    background-color ease .5s;
        &:not(:disabled):not(.disabled):hover {
            border-color: darken($secondary, 5%);
            background-color: darken($bg-color, 5%);
        }
    }
    &.btn-before {
        position: fixed;
        left: 2rem;
        top: 2rem;
    }
    &.btn-tag {
        color: white;
        background-color: $un-selected-color;
        margin: .5rem;
        font-weight: 200;
        &:not(:disabled):not(.disabled):hover {
            background-color: darken($un-selected-color, 5%);
        }
        &.tag-selected {
            background-color: $primary;
            &:not(:disabled):not(.disabled):hover { 
                background-color: darken($primary, 5%);
            }
        }
    }
    &.btn-img {
        padding: 0px;
        width: 8rem;
        height: 8rem;
        border-radius: 1rem;
        overflow: hidden;
        position: relative;
        &:not(:disabled):not(.disabled):hover {
            .img {
                width: 105%;
                height: 105%;
            }
        }
        &.active {
            -webkit-box-shadow: 0px 0px 10px 1px $primary; 
            box-shadow: 0px 0px 10px 1px $primary;
            .img {
                width: 105%;
                height: 105%;
            }
        }
        .img {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: width ease .25s,
                        height ease .25s;
        }
    }
    &.disabled {
        cursor: not-allowed !important;
        background-color: $un-selected-color;
        opacity: .5;
    }
}

.svg-before {
    width: 32px;
    height: 32px;
    fill: $secondary;
}