@import '/src/variables.scss';


.profile {
    width: 6rem;
    height: 6rem;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    img {
        width: 6rem;
        height: 6rem;
    }
    &.profile-sm {
        width: 2rem;
        height: 2rem;
        display: inline-block;
        img {
            width: 2rem;
            height: 2rem;
        }
    }

    @each $color in $colors-list {
        $i: index($colors-list, $color);
        &.profile-#{$i} { 
            background-color: $color;
        }
    }
}