@import '/src/_variables.scss';

.index-page {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
    align-items: center;

    .index-title {
        margin-bottom: 0px;
        &.title-1 {
            padding-top: 10%;
            font-size: 5rem;
            line-height: 5rem;
        }
        &.title-2 {
            font-size: 4rem;
            line-height: 4rem;
        }
    }

    .index-input-profile {
        margin-top: 5rem;
        .btn-profile {
            padding: 0;
            cursor: pointer;
            border: none;
            border-radius: 50%;
            background-color: transparent;
        }
    }
}