@import '/src/_variables.scss';

.index-page {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
    align-items: center;

    .index-logo {
        padding-top: 8%;
        width: 30%;
    }
    
    .index-input-profile {
        margin-top: 7rem;
        .btn-profile {
            padding: 0;
            cursor: pointer;
            border: none;
            border-radius: 50%;
            background-color: transparent;
        }
    }
}