@import '/src/_variables.scss';


.song-video {
    position: absolute;
    top: -1000px;
}

.main {
    padding-left: 0px;

    .remaining-songs {
        margin: 0px;
        font-size: 1.5rem;
        color: $spinner;
        position: absolute;
        right: 1rem;
        top: 0px;
        cursor: default;
    }

    .answer-group {
        position: relative;
        left: 50%;
        top: 15%;
        transform: translate(-50%, -15%);
        text-align: center;
        cursor: default;
        .answer-member {
            margin: 0px;
        }
        .answer-song {
            margin: 0px;
            color: $point;
        }
    }

    .spinner-parent {
        position: relative;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -40%);
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        .play-icon {
            width: 140px;
            height: 140px;
            path {
                fill: $spinner;
            }
        }
        .timer {
            margin: 0px;
            position: absolute;
            font-size: 1.25rem;
            top: calc(50% + 3rem);
            cursor: default;
        }
    }

    .song-info {
        position: relative;
        left: 50%;
        top: 52%;
        transform: translate(-50%, -52%);
        .song-tags {
            width: 30rem;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
        }
    }
}

.chat-box {
    border: 1px solid $spinner;
    border-radius: 1rem;
    padding: 0px;
    overflow: hidden;
    .chat-logs {
        padding: 1rem 1rem 6rem 1rem;
        height: calc(100vh - 4rem);
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-y: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar {
            width: 6px;
            background: none;
        }
        &:-webkit-scrollbar-track {
            background: none;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 3px;
            background-color: none;
            transition: background-color ease 1s;
        }
        &:hover {
            &::-webkit-scrollbar-thumb {
                background-color: $week-bg-color;
            }
        }
    }
    .chat-send {
        position: absolute;
        bottom: 0px;
        height: 4rem;
        margin: .5rem;
        padding: .5rem;
        width: calc(100% - 1rem);
        // border: 1px solid $week-bg-color;
        // background-color: $bg-color;
        
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        border-radius: .5rem;

        .chat-input {
            color: white;
            background-color: transparent;
            border: none;
            border-radius: .5rem;
            height: 100%;
            width: calc(100% - 3.5rem);
            margin-right: .5rem;
        }
        .chat-submit {
            border: none;
            cursor: pointer;
            height: 100%;
            border-radius: .5rem;
            width: 3rem;
            color: white;
            background-color: $point;
        }
    }
}