@import '/src/variables.scss';

.room {
    padding: 1rem 1rem 2rem 1rem;
    background-color: $dark;
    margin-bottom: 1rem;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: .25rem;
    // border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: background-color ease .5s;
    &:hover {
        background: rgba( 255, 255, 255, 0.4 );
    }
    &.room-primary {
        background-color: $primary;
    }
    .room-title {
        font-weight: 200;
        margin: 0px;
        color: white;
        white-space: pre-wrap;
    }
    .room-member {
        font-size: .9rem;
        font-weight: 300;
        position: absolute;
        right: .5rem;
        bottom: .5rem;
    }
}